harbor:
  portal:
    image:
      tag: v2.13.2
  core:
    image:
      tag: v2.13.2
  trivy:
    image:
      tag: v2.13.2
  jobservice:
    image:
      tag: v2.13.2
  secretKey: <path:kv/data/harbor#secretKey>
  harborAdminPassword: <path:kv/data/harbor#harborAdminPassword>
  externalURL: https://harbor.riles.xyz
  expose:
    type: ingress
    tls:
      certSource: secret
      secret: 
        secretName: harbor-ingress
      enabled: true
    ingress:
      annotations:
        cert-manager.io/cluster-issuer: le-example-http
        kubernetes.io/tls-acme: "true"
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
        nginx.ingress.kubernetes.io/proxy-body-size: "0"
      hosts:
        core: harbor.riles.xyz
  registry:
    relativeurls: true
    image:
      tag: v2.13.2
  persistence:
    enabled: true
    registry:
      storageClass: local-path-hdd
    jobservice:
      storageClass: local-path-ssd
    trivy:
      storageClass: local-path-ssd
  database:
    type: external
    external:
      host: "harbor-pg-rw"
      port: 5432
      coreDatabase: "registry"
      username: harbor
      existingSecret: "harbor-pg-user-creds"
  redis:
    image:
      tag: v2.13.2
    type: internal
    storageClass: local-path-ssd
